*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;

    /* border: 1px black solid; */
}

body, button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #48555B;
}

header, main, footer{
    width: 1440px;
    margin: 0 auto;
}

section > div, footer > div{
    padding: 0 250px;
}

.header{
    height: 768px;
    background-image: url(img/head_bg.jpg);
    color: white;
}

.header *{
    text-align: center;
    margin: 0;
}


footer > div{
    height: 299px;
}

ul {
    list-style-type: none;
}

.blk-wht1{
    background: #171819;
    color: white;
}

.blk-wht2{
    background: #141A20;
    color: white;
}

.mmenu{
    display: flex;
    justify-content: flex-end;
    padding-right: 220px;
    border: 1px solid #E6E6E6;
}

.mmenu ul{
    text-transform: uppercase;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    font-size: 13px;
    font-weight: 600;
}

.mmenu li{
    display: inline;
    margin: 25px;
}

li.active{
    color: #00A4E5;
}

.btn {
    background: #00A4E5;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    display: block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    border: none;
}

.ab-title h2{
    text-align: center;
}

.about {
    display: flex;
}

.about > div{
    width: 50%;
    height: auto;
}

.ab-text{
    padding-right: 77px;
}

.ab-art{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ab-art p {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin: 15px;
}

.ab1, .ab2, .ab3 {
    height: 224px;
    width: 140px;
}

.ab1{
    background-image: url(img/ar1.jpg);
}

.ab2{
    background-image: url(img/ar2.jpg);
}

.ab3{
    background-image: url(img/ar3.jpg);
}

.articles{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.articles article{
    border: 1px solid #E6E6E6;
    height: 330px;
    width: 295px;
    padding: 39px 23px;
}



.icons{
    height: 75px;
    width: 71px;
    background-repeat: no-repeat;
}

.ic1{
    background-image: url(img/icon_1.png);
}

.ic2{
    background-image: url(img/icon_2.png);
}

.ic3{
    background-image: url(img/icon_3.png);
}

.newsletter{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.signup{
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.signup > p {
    font-size: 22px;
    font-weight:bold;
    padding: 0 70px;
    line-height: 40px;
}

.signup input {
    width: 250px;
    padding-left: 16px;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
}

.footer > * {
    margin: 10px;
}



